<nav class="d-flex" th:fragment="sidebar"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <div>
        <nav class="nav flex-column" style="background-color: #F8F9FA; position-fixed width: 25%; height: 100vh;">
        <div class = "list-group list-group-flush border-bottom scrollarea">

                <a type="button" class="btn btn-light" aria-current="page" th:href="@{/enterprises/{id}/movements}">Ingresos y Egresos</a>
                <a type="button" class="btn btn-light" aria-current="page" th:href="@{/users}">Usuario</a>
                <a type="button" class="btn btn-light" aria-current="page" th:href="@{/enterprises/list}">Empresas</a>
            </div>
        </nav>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</nav>