<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="index">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Listar empresas</title>
</head>

<body>
<main layout:fragment="contenido">

    <div>
        <table class="table table-bordered">

            <!-- Columnas de la Tabla -->
            <a class="btn btn-primary" th:href="@{/enterprises/create}">Nuevo</a>
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Documento</th>
                <th>Teléfono</th>
                <th>Dirección</th>
                <th>Fecha Incio</th>
            </tr>
            </thead>

            <!-- filas de la tabla-->
            <tbody>
            <!-- Dibuja la filas por empleados -->
            <tr th:each="enterprises : ${enterprises}">
                <!-- Dibuja columnas por cada campo del Objeto-->
                <td th:text="${enterprises.name}"></td>
                <td th:text="${enterprises.document}"></td>
                <td th:text="${enterprises.phone}"></td>
                <td th:text="${enterprises.address}"></td>
                <td th:text="${enterprises.createdAt}"></td>
                <td>
                    <!-- celda para mostrar boton Actualizar por aparte -->
                    <form th:object="${enterprises}" th:action="@{/enterprises/update/{id}(id = ${enterprises.id})}"
                          method="get">
                        <input type="hidden" name="id" th:value="${enterprises.id}"/>
                        <button type="submit" class="btn btn-info">Actualizar<i class="fa fa-trash"></i>
                        </button>
                    </form>
                <td>
                    <!-- Formulario para eliminar datos-->
                    <form th:object="${enterprises}" th:action="@{/enterprises/delete}" method="post">
                        <input type="hidden" name="id" th:value="${enterprises.id}"/>
                        <button type="submit" class="btn btn-danger">Eliminar <i class="fa fa-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>

</html>