<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="index">

<body>
<main layout:fragment="contenido">
    <div>
        <table class="table">
            <!-- Columnas de la Tabla -->
            <div align="right">
            <a class="btn btn-info" th:href="@{/enterprises/create}">Nuevo</a>
            </div>
            <p></p>
            <thead class="table-dark">
            <tr>
                <th>Nombre</th>
                <th>Documento</th>
                <th>Teléfono</th>
                <th>Dirección</th>
                <th>Fecha Incio</th>
                <th>Fecha Actulización</th>
                <th></th>
                <th></th>
            </tr>
            </thead>

            <!-- filas de la tabla-->
            <tbody class="table-group-divider">
            <!-- Dibuja la filas por empleados -->
            <tr th:each="enterprises : ${enterprises}">
                <!-- Dibuja columnas por cada campo del Objeto-->
                <td th:text="${enterprises.name}"></td>
                <td th:text="${enterprises.document}"></td>
                <td th:text="${enterprises.phone}"></td>
                <td th:text="${enterprises.address}"></td>
                <td th:text="${enterprises.createdAt}"></td>
                <td th:text="${enterprises.updatedAt}"></td>
                <td>
                    <!-- celda para mostrar boton Actualizar por aparte -->
                    <form th:object="${enterprise}" th:action="@{/enterprises/update/{id} (id = ${enterprises.id})}"
                          method="get">
                        <input type="hidden" name="id" th:value="${enterprises.id}"/>
                        <button type="submit" class="btn btn-primary btn-sm">Actualizar<i class="fa fa-trash"></i>
                        </button>
                    </form>
                <td>
                    <!-- Formulario para eliminar datos-->
                    <form th:object="${enterprise}" th:action="@{/enterprises/delete}" method="post">
                        <input type="hidden" name="id" th:value="${enterprises.id}"/>
                        <button type="submit" class="btn btn-secondary btn-sm">Eliminar <i class="fa fa-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>