<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="index">

<body>
<main layout:fragment="contenido">
    <div>

        <!--Título encabezado-->
        <div class="card-header">
            <h2><p><strong>Empresas</strong></p></h2>
        </div>

        <table class="table">
            <div align="right">

                <!-- Formulario para Nueva empresa datos-->
                <form th:object="${enterprise}" th:action="@{/enterprises}" method="get">
                    <input type="hidden" name="id"/>
                    <button type="submit" class="btn btn-primary">Nueva Empresa <i class="fa fa-trash"></i>
                    </button>
                </form>

            </div>

            <p></p>

            <!-- Columnas de la Tabla -->
            <thead class="table-dark">
            <tr>
                <th>Nombre</th>
                <th>Documento</th>
                <th>Teléfono</th>
                <th>Dirección</th>
                <th>Fecha Incio</th>
                <th>Fecha Actulización</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>

            <!-- filas de la tabla-->
            <tbody class="table-group-divider">
            <!-- Dibuja la filas por empleados -->
            <tr th:each="enterprises : ${enterprises}">
                <!-- Dibuja columnas por cada campo del Objeto-->
                <td th:text="${enterprises.name}"></td>
                <td th:text="${enterprises.document}"></td>
                <td th:text="${enterprises.phone}"></td>
                <td th:text="${enterprises.address}"></td>
                <td th:text="${enterprises.createdAt}"></td>
                <td th:text="${enterprises.updatedAt}"></td>
                <td>
                    <!-- Boton Actualizar por aparte -->
                    <form th:object="${enterprise}" th:action="@{/enterprises/{id}(id = ${enterprises.id})}"
                          method="get">
                        <input type="hidden" name="id" th:value="${enterprises.id}"/>
                        <button type="submit" class="btn btn-outline-primary btn-sm">Actualizar<i
                                class="fa fa-trash"></i>
                        </button>
                    </form>
                </td>
                <td>
                    <!-- Formulario para eliminar datos-->
                    <form th:object="${enterprise}" th:action="@{/enterprises/{id}(id = ${enterprises.id})}"
                          th:method="delete">
                        <input type="hidden" name="id" th:value="${enterprises.id}"/>
                        <button type="submit" class="btn btn-outline-secondary btn-sm">Eliminar <i
                                class="fa fa-trash"></i>
                        </button>
                    </form>
                </td>
                <td>
                    <!-- Formulario para Movimiento emresa -->
                    <form th:object="${enterprise}"
                          th:action="@{/enterprises/{id}/movements/list (id = ${enterprises.id})}"
                          method="get">
                        <input type="hidden" name="id" th:value="${enterprises.id}"/>
                        <button type="submit" class="btn btn-outline-primary btn-sm">Movimiento Empresa<i
                                class="fa fa-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>