<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="index">


<main layout:fragment="contenido">

    <div class="px-4 py-5 my-5 text-left">

        <!--Titulo Encabezado-->
        <div class="card-header">
            <h2><p><strong>Nueva Empresa</strong></p></h2>
        </div>

        <!-- Formulario para guardar nueva Empresa -->
        <div class="px-4 py-10 my-5 text-left d-flex flex-colum align-items-left">
            <div class="container-sm">
                <form class="d-flex flex-column gap-3 align-items-left" th:object="${enterprise}"
                      th:action="@{/enterprises}" method="post">
                    <div class="form-group">

                        <!-- Campo para nombre Empresa -->
                        <div>
                            <label for="name">Nombre</label>
                            <!--<input type="hidden" name="id" th:value="${enterprise.id}"/>-->
                            <input th:field="*{name}" autocomplete="off" autofocus id="name" name="name"
                                   placeholder="Escribe el Nombre de la Empresa" type="text"
                                   class="form-control">
                        </div>

                        <!-- Campo para Documento Empresa -->
                        <div>
                            <label for="document">Documento</label>
                            <input th:field="*{document}" autocomplete="off" autofocus id="document" name="document"
                                   placeholder="Escribe su Nit." type="text"
                                   class="form-control">
                        </div>

                        <!-- Campo para Telefono de la Empresa -->
                        <div>
                            <label for="phone">Telefono</label>
                            <input th:field="*{phone}" autocomplete="off" autofocus id="phone" name="phone"
                                   placeholder="Escribe el Telefono" type="text"
                                   class="form-control">
                        </div>

                        <!-- Campo para Direccion de la empres Empresa -->
                        <div>
                            <label for="address">Dirección</label>
                            <input th:field="*{address}" autocomplete="off" autofocus id="address" name="address"
                                   placeholder="Escribe la Dirección" type="text"
                                   class="form-control">
                        </div>

                    </div>
                    <div>
                        <!--Boton Regresar-->
                        <button class="btn btn-primary" type="submit">Ingresar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
</body>
</html>