<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="index">
<body>

<main layout:fragment="contenido">


  <div class="table-responsive">

    <table class="table table-bordered">
      <!-- Columnas de la Tabla -->
      <thead>
      <tr>
        <td></td>
        <td></td>
        <td  align="left">
          <a class="btn btn-primary" th:href="@{/users/nuevo/}">Nuevo <i class="fa fa-edit"></i></a>
        </td>
      </tr>

      <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Teléfono</th>
      </tr>
      </thead>

      <!-- filas de la tabla-->
      <tbody>
        <!-- Dibuja la filas por empleados -->
        <tr th:each="employee : ${employees}">
          <!-- Dibuja columnas por cada campo del Objeto-->
           <td th:text="${employee.name}"></td>
           <td th:text="${employee.email}"></td>
           <td th:text="${employee.profile.phone}"></td>
        </tr>

      </tbody>



     </table>

  </div>


</main>

</body>

</html>