<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="index">
<body>

<main layout:fragment="contenido">


  <div class="table-responsive">

    <table class="table" style="border:3px; border-radius:22px;">
      <!-- Columnas de la Tabla -->
      <a class="btn btn-info" th:href="@{/users/nuevo/}">Nuevo <i class="fa fa-edit"></i></a>
      <thead>
      <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Teléfono</th>
      </tr>
      </thead>

      <!-- filas de la tabla-->
      <tbody class="table-group-divider">
        <!-- Dibuja la filas por empleados -->
        <tr th:each="employee : ${employees}">
          <!-- Dibuja columnas por cada campo del Objeto-->
           <td th:text="${employee.name}"></td>
           <td th:text="${employee.email}"></td>
           <td th:text="${employee.profile.phone}"></td>
        </tr>

      </tbody>



     </table>

  </div>


</main>

</body>

</html>