<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="index">
<body>
<main layout:fragment="contenido">
<!-- Formulario para guardar nuevo usuario -->
<form  th:action="@{/users/guardarx}" method="post">
    <div class="form-group">
        <h2>Nuevo Usuario</h2>

     <div>
        <label for="name">Nombre</label>
        <input autocomplete="off" autofocus  id="name" name="name"
               placeholder="Escribe el nombre del usuario" type="text"
               class="form-control" >
     </div>
    <div>
        <label for="email">Correo</label>
        <input autocomplete="off" autofocus  id="email" name="email"
               placeholder="Escribe el email" type="text"
        class="form-control" >
    </div>

    <div>
        <label for="role">Rol</label>
        <input autocomplete="off" autofocus  id="role" name="role"
               placeholder="Escribe el rol" type="text" list="dlrole"
        class="form-control" >
    </div>
      <!-- El campo Telefono-->
        <div>
            <label for="phone">Telefono</label>
            <input autocomplete="off" autofocus  id="phone" name="phone"
                   placeholder="Escribe el Telefono" type="text"
                   class="form-control" >
        </div>



    </div>
    <button class="btn btn-success" type="submit">Registrar</button>
</form>
    <datalist id="dlrole"><option value="Administrador"></option><option value="Operativo"></option></datalist>
</main>
</body>

</html>