.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}
img{width:50px;}
img.avatar {
  width: 40%;
  border-radius: 50%;
}