<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="index">
<body>

<main layout:fragment="contenido">
    <div class="container-fluid">
        <table class="table">

            <!-- Columnas de la Tabla -->
            <a class="btn btn-info" >Nuevo</a>
            <thead>
            <tr>
                <th>Concept</th>
                <th>Amount</th>
                <th>User</th>
                <th>Enterprise</th>
                <th>fecha creacion</th>
                <th>fecha actualizacion</th>
            </tr>
            </thead>

            <!-- filas de la tabla-->
            <tbody class="table-group-divider">
            <!-- Dibuja la filas por empleados -->
            <tr th:each="transaction : ${transaction}">
                <!-- Dibuja columnas por cada campo del Objeto-->
                <td th:text="${transaction.concept}"></td>
                <td th:text="${transaction.amount}"></td>
                <td th:text="${transaction.user}"></td>
                <td th:text="${transaction.enterprise}"></td>
                <td th:text="${transaction.createdAt}"></td>
                <td th:text="${transaction.updateAt}"></td>



                <td>
                    <!-- celda para mostrar boton Actualizar por aparte -->
                    <form  th:object="${transaction}" th:action="@{/enterprises/movements/update/{id}(id = ${transaction.id})}"
                           method="get">
                        <input type="hidden" name="id" th:value="${transaction.id}"/>
                        <button type="button" class="btn btn-primary btn-sm">Actualizar<i class="fa fa-trash"></i>
                        </button>
                    </form>
                </td>
                <!-- celda para mostrar boton eliminar por aparte -->
                <td>
                <td>
                    <!-- Formulario para eliminar datos-->
                    <form th:object="${transaction}" th:action="@{delete}" method="post" >
                        <input type="hidden" name="id" th:value="${transaction.id}"/>
                        <button type="button" class="btn btn-secondary btn-sm">Eliminar <i class="fa fa-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>

            <tr>
                <td >suma</td>
            </tr>
            </tbody>
        </table>
    </div>
</main>

</body>

</html>