<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Sistema de Gestion</title>
</head>
<body>
<div sec:authorize="!isAuthenticated()">
    <a th:href="@{/oauth2/authorization/auth0}">Log In</a>
</div>
<div sec:authorize="isAuthenticated()">
    <p>You are logged in!</p>
    <!--Cuerpor de la pagina -->
    <div>
        <h1>        </h1>
    </div>
    <div>
        <!-- Titulo encabezado de la pagina -->
        <img src = "img/logo.png" class = "db-block mx-auto mb-4 align=center" height="50" width="145"/>
    </div>

    <hr>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2" >
                <!-- Menu lateral -->
                <nav th:replace="layouts/sidebar:: sidebar"></nav>
            </div>

            <div class="col-lg-9" >
                <!-- la parte principal o contenido del aplicativo o interna-->
                <main layout:fragment="contenido" role="main" class="container-fluid"></main>
            </div>
        </div>
    </div>
</div>
    <!-- Pie de PAgina-->
    <!--<footer th:replace="Layouts/pie :: pie"></footer>-->
    <footer class="py-3 my-4" style="background:black">

        <p class="text-center" style="size:10px; color:White">©️ 2022 Sistema de gestión</p>


    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>